body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  width: 100%; 
  overflow: auto;
  background: rgb(53, 44, 44);
  padding: 5px;
  color: white;
}

.App-header a {
  float: left;
  text-align: center;
  width: 10%;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.App-header a:hover {
  background-color: #000;
}

.App-header a.active {
  background-color: #383f38;
}


/* Slider */

.slides-container {
  position:relative;
}

.slide {
  display: none;
  padding: 10px;
}

.slide:nth-child(1) {
  background: rgba(47, 79,	79, 0.7);
}
.slide:nth-child(2) {
  background: darkslateblue;
}
.slide:nth-child(3) {
  background: #80adcc;
}
.slide:nth-child(4) {
  background: #dcd0ca;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active{
  background-color: #717171;
}


/* SVG */

svg .canvas {
  display: block;
  margin: auto;
}


/* Article */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active, .accordion:hover {
  background-color: #ccc;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}